*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.hero {
  background: url(/Assets/Images/Background-Image.jpg);
  background-size: cover;
  background-position: center -80px;
  background-repeat: no-repeat;
  height: 50vh;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.gradient {
  background: linear-gradient(transparent, #000000);
  width: 100%;
  height: 100%;
}

/* ------------------ Navbar ------------------ */
.navbar-brand {
  color: #fff;
  font-weight: 500;
  font-size: 1.95rem;
}

.nav-link {
  padding: 10px 10px;
  color: #949494;
  font-weight: 400;
}

.nav-link:hover {
  color: #ebebeb;
}

.nav-item {
  margin: 0px 5px;
}

.nav-container {
  /* background-color: #292929; */
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* ---------------- Burger icon --------------- */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* ------------------ Header ------------------ */
.header {
  color: #fff;
  line-height: 0.85;
  font-size: 4.8rem;
  font-weight: bold;
  padding-top: 20px;
  position: absolute;
  top: 220px;
  left: 40%;
  right: 100px;
}

/* ----------------- Sub-header ---------------- */
.sub-header {
  color: #e2e482;
  width: fit-content;
  font-size: 2.5rem;
  font-weight: 450;
  padding-top: 20px;
  position: absolute;
  top: 380px;
  left: 40%;
  right: 100px;
}

/*----- 1200px or less, the content will be... -----*/
@media (max-width: 1200px) {
  .hero {
    background: url(/Background-Image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
  }
  .header {
    font-size: 4.2rem;
    padding-top: 20px;
    position: absolute;
    top: 180px;
    left: 40%;
    right: 100px;
  }
  .sub-header {
    font-size: 2rem;
    position: absolute;
    top: 320px;
    left: 40%;
    right: 100px;
  }
}

/*----- 992px or less, the content will be... -----*/
@media (max-width: 992px) {
  .hero {
    background: url(/Background-Image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
  }
  .header {
    font-size: 3.4rem;
    padding-top: 20px;
    position: absolute;
    top: 130px;
    left: 40%;
    right: 100px;
  }
  .sub-header {
    font-size: 1.78rem;
    position: absolute;
    top: 280px;
    left: 40%;
    right: 100px;
  }
}

/*----- 768px or less, the content will be... -----*/
@media (max-width: 768px) {
  .header {
    /* width: 500px; */
    font-size: 3.1rem;
    padding-top: 20px;
    position: absolute;
    top: 130px;
    left: 34%;
    right: 100px;
  }
  .sub-header {
    font-size: 1.78rem;
    position: absolute;
    top: 280px;
    left: 34%;
    right: 100px;
  }
}

.user-input {
  background-color: #b1b1b1;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  height: 80%;
}

.magnifying-glass-btn {
  background-color: #b1b1b1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  padding: 0px 10px;
  height: 80%;
  color: #3d3d3d;
}

.search-btn:hover {
  color: #1a1a1a;
}

.search-btn:active {
  transform: scale(0.97);
}

/* ::placeholder {
  color: #000 !important;
} */

/* --------------- Cards Section -------------- */

.games-section {
  margin: 20px 0px 120px;
}

.card-title {
  color: #e2e482;
}

.card-category {
  height: 63.5rem;
  border-radius: 10px;
  background-color: #12151b;
}

/* ------------------ Footer ------------------ */
footer {
  background-color: #12151b;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.foot-txt {
  margin-top: 5px;
  font-size: 1.1rem;
}
